<div id="home-menu">
  <%= render "layouts/menu" %>
</div>
<!-- zhifangzi start -->
<div class="my-words section">
  <div class="author"><%= link_to '背景来源:KONG', 'http://kongraphy.lofter.com/post/f1fc0_b731b3', :target => '_blank' %></div>
  <div class="mouse" id="maison">Maison</div>
  <div id="zhifangzi">
    <div class="container">
      <div class="row">
        <div class="jumbotron text-center">
          <h1>纸房子</h1>
          <!--<p>快乐{源于}分享</p>-->
          <p>用文章表达态度，用代码传递思想，极简风格程序员主站</p>
          <p>采用Ruby On Rails构建</p>
          <p id="maison-github"><%= link_to 'Code on Github', 'https://github.com/cod7ce/maison', :class => 'btn btn-default btn-lg btn-github', target: '_blank' %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- zhifangzi end -->
<!-- daily wall start -->
<div class="daily-wall text-center section">
  <span class="glyphicon glyphicon-picture"></span>
  <h2>Daily Wall</h2>
  <div class="container text-center">
    <div class="row">
      <div class="jumbotron">
      <h1>每日壁纸</h1>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 560px;">
          <div class="modal-content">
            <%= image_tag asset_path 'dailywallpaper.png' %>
          </div>
        </div>
      </div>
      <p>Mac平台壁纸控的利器，每天更换您的桌面壁纸</p>
      <p>
        <%= link_to 'Download Soon...', '#', :class => 'btn btn-default btn-lg btn-github' %>
        <%= link_to 'Code on Github', 'https://github.com/cod7ce/PaperHouseLite', :class => 'btn btn-default btn-lg btn-github', target: '_blank' %>
      </p>
      <button class="btn btn-preview" data-toggle="modal" data-target="#myModal">预览图</button>
      </div>
    </div>
  </div>
</div>
<!-- daily wall end -->
<!-- analog clock start -->
<div class="analog-clock text-center section">
  <span class="glyphicon glyphicon-time"></span>
  <h2>Analog Clock</h2>
  <div class="container text-center">
    <div class="row">
      <div class="jumbotron">
        <h1>模拟时钟</h1>
        <div class="modal fade" id="analogclockModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" style="width: 900px;">
            <div class="modal-content">
              <%= image_tag (asset_path 'analogclock.png'), size: '900x560' %>
            </div>
          </div>
        </div>
        <p>一款精致的Mac端模拟时钟屏保, 外加背景图片的Ken Burns轮换</p>
        <p>
          <%= link_to 'Download', 'http://pan.baidu.com/share/link?shareid=630291&uk=1562291124', :class => 'btn btn-default btn-lg btn-github', target: '_blank' %>
          <%= link_to 'Code on Github', 'https://github.com/cod7ce/AnalogClock', :class => 'btn btn-default btn-lg btn-github', target: '_blank' %>
        </p>
        <button class="btn btn-preview" data-toggle="modal" data-target="#analogclockModal">预览图</button>
      </div>
    </div>
  </div>
</div>
<!-- analog clock start -->
<div class="my-apps text-center section">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron">
          <h2>LightBox</h2>
          <p>一款样式轻盈、使用方便、配置简单的轻量级jquery弹出框插件</p>
          <%= link_to 'Code on Github', 'https://github.com/cod7ce/AnalogClock', :class => 'btn btn-default btn-lg btn-github', target: '_blank' %>
          <%= link_to '在线预览', 'http://jsfiddle.net/cod7ce/n9xH4/embedded/result/', :class => 'btn btn-preview', target: '_blank'%>
        </div>
      </div>
      <div class="col-md-6">
        <div class="jumbotron">
          <h2>SIFIC 2014</h2>
          <p>SIFIC 2014大会ios客户端，为商业软件，已上传App Store</p>
          <%= link_to 'App Store', 'https://itunes.apple.com/us/app/sific-2014/id789337584?mt=8', :class => 'btn btn-default btn-lg btn-github', target: '_blank' %>
        </div>
      </div>
    </div>
  </div>
</div>
<script> 
  $.fn.fullpage({
    loopHorizontal: false,
    easing: 'easeInOutQuart',
    scrollingSpeed: 1500,
    paddingBottom: '30px',
    navigation: true
  }); 
  $(document).on('ready page:load', function(){
     $('#maison, #maison-github, .jumbotron p').addClass('active'); 
  });
</script>
