<div class="head-margin"></div>
<div class="container">
  <div class="row">
    <% @gists.each do |gist| %>
      <div class="col-md-12">
      <section class="gist">
        <div class="date">
          <p class="day"><%= gist.created_at.day %></p>
          <p class="year"><%= gist.created_at.strftime('%Y-%m') %></p>
        </div>
        <p class="title"><%= link_to gist.title, gist_path(gist) %></p>
        <div class="gist-info">
          <p>Created by <%= gist.user.realname %></p>
          <p>Include <%= gist.snippets.size %> Snippet</p>
        </div>
        <div class="info">
          <p class="tags">24</p>
          <p class="category">2013-01</p>
          <p class="user">2013-01</p>
        </div>
      </section>
      </div>
    <% end %>
  </div>
  <%= paginate @gists %>
</div>
