<div class="head-margin"></div>
<div class="container">
  <div class="row">
    <article>
      <header>
        <h1 class="title"><%= @post.title %></h1>
        <div class="article-info">
          <ul>
            <li>
              <span class="glyphicon glyphicon-tags"></span>
              <% @post.tags.each do |tag| %>
                <%= link_to tag,posts_path %>
              <% end %>
            </li>
            <li><span class="glyphicon glyphicon-th-large"></span><%= link_to @post.category.name, posts_path %></li>
            <li><span class="glyphicon glyphicon-user"></span><%= @post.user.name %></li>
            <li><span class="glyphicon glyphicon-time"></span><%= @post.created_at.strftime('%Y-%m-%d') %></li>
          </ul>
        </div>
      </header>
      <div class="article-content">
        <%= raw markdown(@post.content) %>
      </div>
    </article>
  </div>
  <%= render 'layouts/disqus'%>
</div>
