<div class="footer-wrapper">
  <footer class="container text-center">
    <%= link_to 'Maison', 'http://www.github.com/cod7ce/maison', :target => '_blank'%>
    <%= link_to 'ANALOGCLOCK', 'http://www.github.com/cod7ce/analogclock', :target => '_blank'%>
    <%= link_to '津ICP备13003633号', 'http://www.miitbeian.gov.cn/', :target => '_blank'%>
    <%= link_to 'PAPERHOUSELITE', 'http://www.github.com/cod7ce/paperhouselite', :target => '_blank'%>
    <%= link_to 'MANAGE', admin_root_path, :target => '_blank' %>
  </footer>
</div>
