<div class="footer-wrapper">
  <footer class="container text-center">
    <%= link_to 'Maison', 'www.github.com'%>
    <%= link_to 'ANALOGCLOCK', 'www.github.com'%>
    <%= link_to '; )', admin_root_path %>
    <%= link_to 'PAPERHOUSELITE', 'www.github.com'%>
    <%= link_to 'MANAGE', admin_root_path %>
  </footer>
</div>
