<!DOCTYPE html>
<html class="admin">
<head>
  <title>纸房子后台管理</title>
  <!--这里加入SEO相关标签-->
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/admin/header'%>
  <div class="container">
    <%= render 'layouts/admin/crumb' %>
    <div class="row">
        <%= yield %>
    </div>
  </div>
  <%= render 'layouts/admin/footer' %>
</body>
</html>
