<!DOCTYPE html>
<html class="front">
<head>
  <meta charset='utf-8' />
  <%= render_page_title %>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <link rel="shortcut icon" href="<%= asset_path("logo.png") %>" />
  <link rel="author" href="https://plus.google.com/112426884981573037893">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header'%>
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
